<section class="main-container">
  <h1 class="docs_title">Eliminar Zone.js</h1>

  <info-block boxType="warning" blockTitle="Tener en cuenta">
    <p>
      Remover Zone.js en un proyecto de Angular 18 aun se encuentra en una etapa
      experimental, por lo que no se recomienda su uso en aplicaciones de
      producción.
      <a
        href="https://angular.dev/guide/experimental/zoneless#enabling-zoneless-in-an-application"
        target="_blank"
      >
        Ver en documentación
      </a>
    </p>
  </info-block>

  <br />

  <h2 class="docs-subtitle">Introducción</h2>
  <h2 class="docs-subtitle">Aplicando la configuración</h2>
  <h2 class="docs-subtitle">Ajustes en angular.json</h2>
</section>
