@use "../../../../scss/abstracts/" as *;

aside {
  height: calc(100% - 44px);
  width: 287px;
  border-right: 2px solid $gray-light-color;
  padding: 16px 32px 22px;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: overlay;

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 32px;

    img {
      width: 25px;
      height: 26.45px;
      margin-right: 12px;
    }

    p {
      font-size: 1.125rem;
      font-weight: 700;
    }
  }

  .main-link {
    border-radius: 8px;
    color: $gray-standard-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
    font-size: 0.875rem;
    font-weight: 600;
    height: 42px;
    padding: 12px;
    column-gap: 12px;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;

    i {
      font-size: 1.25rem;
    }

    &:hover,
    &.active {
      background-color: $secondary-bg-color;
      color: $black-standard-color;
    }
  }

  .subtitle {
    font-size: 1.125rem;
    margin-bottom: 46px;

    span {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green-special-color;
      margin-right: 8px;
      margin-bottom: 2px;
    }
  }

  nav {
    margin-bottom: 1rem;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      li {
        height: 42px;

        a {
          border-radius: 8px;
          color: $gray-standard-color;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 100%;
          column-gap: 12px;
          padding: 12px;
          font-size: 0.875rem;
          font-weight: 600;
          transition:
            background-color 0.2s ease-in-out,
            color 0.2s ease-in-out;

          i {
            font-size: 1.25rem;
          }

          &:hover,
          &.active {
            background-color: $secondary-bg-color;
            color: $black-standard-color;
          }
        }
      }
    }
  }

  .creator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
    margin-top: auto;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    .info {
      font-weight: 700;

      p {
        display: flex;
        align-items: center;
        column-gap: 2px;
        margin-top: 4px;

        small {
          font-weight: 300;
        }
      }
    }
  }
}
