// ** COLORS **
$black-standard-color: #25282b;
$gray-standard-color: #7a7c7c;
$gray-light-color: #e5e5e1;
$black-color: #000;
$white-color: #fff;

$main-bg-color: #fafaf5;
$secondary-bg-color: #f5f5eb;

$green-standard-color: #86a90f;
$green-special-color: #d3f26a;
$green-light-color: #f2ffc6;

$red-standard-color: #ff4a00;
$red-light-color: #fff3e5;

// ** FONTS **
$main-font-family: "Inter", sans-serif;
$monospace-font-family: "IBM Plex Mono", monospace;
